@charset "utf-8";

/* CSS Document */

.margin {
	width: 1100px;
	margin: 0 auto;
}


/*这是footer的css*/
footer {
	width: 100%;
	background-color: #2d2d2d;
}

footer .inFooter {
	border-bottom: 1px solid #fff;
	padding-bottom: 40px;
	overflow: hidden;
}

footer .inFooter a {
	display: block;
	float: left;
	width: 20%;
	margin-top: 54px;
	text-align: center;
}

footer .inFooter a img {
	display: block;
	width: 51px;
	height: 51px;
	margin: 0 auto 43px;
}

footer .inFooter a span {
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	font-family: PingFangSC, sans-serif;
}

footer .copyright {
	text-align: center;
	font-size: 14px;
	font-family: PingFangSC, sans-serif;
	color: #fff;
	margin-top: 40px;
}

footer .copyright a {
	color: #fff;
}